doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Socket
        link(rel="stylesheet", href="https://unpkg.com/mvp.css")
    body 
        header
            h1 Web Socket
        main
            h2 Welcome to web socket site
        script(src="/public/js/app.js")